::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep mat-horizontal-stepper {
  height: 100%;


  .mat-horizontal-content-container{
    height: 100%;

  .mat-horizontal-stepper-content {
      
    transform: none;
    visibility: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
  }}
}
